.App {
    text-align: center;
    background-color: beige;
    width: 70%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
}

.App-title {
    border-bottom: 1px solid grey;
    padding: 2rem;
    font-size: 2rem;
}

.App-form {
    padding: 2rem;
}

.App-input {
    font-size: 18px;
    width: 30%;
    padding: 0.4rem 1rem;
}
